<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youngindia.jobportal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ui.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MessageSendActivity" />
        <activity android:name=".ui.LoginUser_Activity" />
        <activity android:name=".ui.Employee_RegistrationActivity" />
        <activity
            android:name=".ui.Employee_HomeActivity"
            android:label="@string/title_activity_employee__home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.User_jobdetails"
            android:parentActivityName=".ui.Employee_HomeActivity" />
        <activity
            android:name=".ui.Search_Activity"
            android:label="@string/title_activity_search_"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Search_Result"
            android:label="@string/title_activity_search__result"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Company_Base"
            android:label="@string/title_activity_company__base"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.App_Faq"
            android:label="@string/title_activity_app__faq"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.CompanyDetail"
            android:label="@string/title_activity_app__faq"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Company_candidatelist"
            android:label="@string/title_activity_company_candidatelist"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Details_Page"
            android:label="@string/title_activity_details__page"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.DailyWagesRegstr" />
        <activity android:name=".ui.Search_list_Activity" />
        <activity android:name=".ui.Main_Activity" />
        <activity android:name=".ui.Franchise_Activity"></activity>
    </application>

</manifest>